.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.loadingDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}